<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>上商</string>
		<key>symptom</key>
		<string>易发生：胸闷、气短、乏力，咳嗽</string>
		<key>music</key>
		<string>建议——每天习练整套和畅经络运动1遍，尤以上午5:00-7:00（卯时）最佳，重复[第二式]剑指长天2-3遍</string>
		<key>sport</key>
		<string>可选择商调式音乐进行调理。每日2-3次，每次以30分钟为宜</string>
	</dict>
	<dict>
		<key>type</key>
		<string>右商</string>
		<key>symptom</key>
		<string>易发生：气短、乏力、腹胀、便秘、口臭</string>
		<key>music</key>
		<string>建议——每天习练整套和畅经络运动1遍，尤以上午5:00-7:00（卯时）最佳，重复[第二式]剑指长天2-3遍</string>
		<key>sport</key>
		<string>可选择商调式、羽调式音乐进行调理。每日2-3次，每次以30分钟为宜</string>
	</dict>
	<dict>
		<key>type</key>
		<string>少商</string>
		<key>symptom</key>
		<string>易发生：情志不舒畅，烦躁易怒，食欲减退</string>
		<key>music</key>
		<string>建议——每天习练整套和畅经络运动1遍，尤以下午5:00-7:00（酉时）最佳， 并重复[第五式]体侧弯腰式2-3遍</string>
		<key>sport</key>
		<string>可选择商调式、宫调式音乐进行调理。每日2-3次，每次以30分钟为宜</string>
	</dict>
	<dict>
		<key>type</key>
		<string>左商</string>
		<key>symptom</key>
		<string>易发生：胸闷、气短、口臭，腹胀，便秘</string>
		<key>music</key>
		<string>建议——每天习练整套和畅经络运动1遍，尤以上午5:00-7:00（卯时）最佳，重复[第二式]剑指长天2-3遍</string>
		<key>sport</key>
		<string>可选择商调式、宫调式音乐进行调理。每日2-3次，每次以30分钟为宜</string>
	</dict>
	<dict>
		<key>type</key>
		<string>钛商</string>
		<key>symptom</key>
		<string>易发生：胸闷、气短、腹胀、便秘</string>
		<key>music</key>
		<string>建议——每天习练整套和畅经络运动1遍，尤以上午5:00-7:00（卯时）最佳，重复[第二式]剑指长天2-3遍</string>
		<key>sport</key>
		<string>可选择商调式、羽调式音乐进行调理。每日2-3次，每次以30分钟为宜</string>
	</dict>
	<dict>
		<key>type</key>
		<string>上宫</string>
		<key>symptom</key>
		<string>易发生：消化不良，便溏或便秘，皮下紫癜</string>
		<key>music</key>
		<string>建议——每天习练整套和畅经络运动1遍，尤以7:00-9:00（辰时）最佳，重复[第六式]俯身下探加强式3遍</string>
		<key>sport</key>
		<string>可选择宫调式音乐进行调理。每日2-3次，每次以30分钟为宜</string>
	</dict>
	<dict>
		<key>type</key>
		<string>加宫</string>
		<key>symptom</key>
		<string>易发生：食欲不振，胃痛，便溏或便秘</string>
		<key>music</key>
		<string>建议——每天习练整套和畅经络运动1遍，尤以7:00-9:00（辰时）最佳，重复[第六式]俯身下探加强式2-3遍</string>
		<key>sport</key>
		<string>可选择宫调式、商调式音乐进行调理。每日2-3次，每次以30分钟为宜</string>
	</dict>
	<dict>
		<key>type</key>
		<string>大宫</string>
		<key>symptom</key>
		<string>易发生：消化不良，嗳气，便溏或便秘</string>
		<key>music</key>
		<string>建议—— 每天习练整套和畅经络运动1遍，尤以7:00-9:00（辰时）最佳，重复[第六式]俯身下探加强式2-3遍</string>
		<key>sport</key>
		<string>可选择宫调式、商调式音乐进行调理。每日2-3次，每次以30分钟为宜</string>
	</dict>
	<dict>
		<key>type</key>
		<string>少宫</string>
		<key>symptom</key>
		<string>易发生：食欲不振，消化不良，腹胀</string>
		<key>music</key>
		<string>建议——每天习练整套和畅经络运动1遍，尤以7:00-9:00（辰时）最佳，重复[第六式]俯身下探加强式2-3遍</string>
		<key>sport</key>
		<string>可选择宫调式、徵调式音乐进行调理。每日2-3次，每次以30分钟为宜</string>
	</dict>
	<dict>
		<key>type</key>
		<string>左角宫</string>
		<key>symptom</key>
		<string>易发生：食欲不振，嗳气，便溏或便秘</string>
		<key>music</key>
		<string>建议——每天习练整套和畅经络运动1遍，尤以7:00-9:00（辰时）最佳，重复[第六式]俯身下探加强式2-3遍</string>
		<key>sport</key>
		<string>可选择宫调式、徵调式音乐进行调理。每日2-3次，每次以30分钟为宜</string>
	</dict>
	<dict>
		<key>type</key>
		<string>上角</string>
		<key>symptom</key>
		<string>易发生：情志不舒畅，烦躁易怒，视力减退</string>
		<key>music</key>
		<string>针对您足厥阴肝经失调的情况，建议您在未来15天内，每天习练全套和畅术经络运动2次（每次约15分钟），并重复[第五式]体侧弯腰式3遍，尤以下午17:00-19:00（酉时）最佳，这样更加有助于您提升此经络功能状态。15天后，请您重新进行“闻音辨识”，辨识时下经络健康状态，利于更加有效的提升和维护您的整体健康状态</string>
		<key>sport</key>
		<string>可选择角调式音乐进行调理。每日2-3次，每次以30分钟为宜</string>
	</dict>
	<dict>
		<key>type</key>
		<string>判角</string>
		<key>symptom</key>
		<string>易发生：喜欢叹气，胸部两侧疼痛或发胀，头痛，头晕</string>
		<key>music</key>
		<string>建议——每天习练整套和畅经络运动1遍，尤以下午5:00-7:00（酉时）最佳，并重复[第五式]体侧弯腰式2-3遍</string>
		<key>sport</key>
		<string>可选择角调式、徵调式音乐进行调理。每日2-3次，每次以30分钟为宜</string>
	</dict>
	<dict>
		<key>type</key>
		<string>大角</string>
		<key>symptom</key>
		<string>易发生：烦躁易怒，食欲减退,女性容易出现月经不调或者经前乳房胀痛</string>
		<key>music</key>
		<string>建议——每天习练整套和畅经络运动1遍，尤以下午5:00-7:00（酉时）最佳，并重复[第五式]体侧弯腰式2-3遍</string>
		<key>sport</key>
		<string>可选择角调式徵调式音乐进行调理。每日2-3次，每次以30分钟为宜</string>
	</dict>
	<dict>
		<key>type</key>
		<string>少角</string>
		<key>symptom</key>
		<string>易发生：情志不舒畅，烦躁易怒，食欲减退</string>
		<key>music</key>
		<string>建议——每天习练整套和畅经络运动1遍，尤以下午5:00-7:00（酉时）最佳，并重复[第五式]体侧弯腰式2-3遍</string>
		<key>sport</key>
		<string>可选择角调式、羽调式音乐进行调理。每日2-3次，每次以30分钟为宜</string>
	</dict>
	<dict>
		<key>type</key>
		<string>钛角</string>
		<key>symptom</key>
		<string>易发生：烦躁易怒，头晕，女性容易出现月经不调或者经前乳房胀痛</string>
		<key>music</key>
		<string>建议——每天习练整套和畅经络运动1遍，尤以下午5:00-7:00（酉时）最佳，并重复[第五式]体侧弯腰式2-3遍</string>
		<key>sport</key>
		<string>可选择角调式、羽调式音乐进行调理。每日2-3次，每次以30分钟为宜</string>
	</dict>
	<dict>
		<key>type</key>
		<string>上徵</string>
		<key>symptom</key>
		<string>易发生：胸闷，心慌，失眠，健忘</string>
		<key>music</key>
		<string>建议——每天习练整套和畅经络运动1遍，尤以下午1:00-3:00（未时）最佳，并重复[第四式]左右扭转式2-3遍</string>
		<key>sport</key>
		<string>可选择徵调式音乐进行调理。每日2-3次，每次以30分钟为宜</string>
	</dict>
	<dict>
		<key>type</key>
		<string>判徵</string>
		<key>symptom</key>
		<string>易发生：周身无力，胸闷，心慌，健忘</string>
		<key>music</key>
		<string>建议——每天习练整套和畅经络运动1遍，尤以下午1:00-3:00（未时）最佳，并重复[第四式]左右扭转式2-3遍</string>
		<key>sport</key>
		<string>可选择徵调式宫调式音乐进行调理。每日2-3次，每次以30分钟为宜</string>
	</dict>
	<dict>
		<key>type</key>
		<string>右徵</string>
		<key>symptom</key>
		<string>易发生：心慌，失眠，健忘</string>
		<key>music</key>
		<string>建议——每天习练整套和畅经络运动1遍，尤以下午1:00-3:00（未时）最佳，并重复[第四式]左右扭转式2-3遍</string>
		<key>sport</key>
		<string>可选择徵调式、角调式音乐进行调理。每日2-3次，每次以30分钟为宜</string>
	</dict>
	<dict>
		<key>type</key>
		<string>少徵</string>
		<key>symptom</key>
		<string>易发生：气短，心慌，胸闷</string>
		<key>music</key>
		<string>建议——每天习练整套和畅经络运动1遍，尤以下午1:00-3:00（未时）最佳，并重复[第四式]左右扭转式2-3遍</string>
		<key>sport</key>
		<string>可选择徵调式、角调式音乐进行调理。每日2-3次，每次以30分钟为宜</string>
	</dict>
	<dict>
		<key>type</key>
		<string>质徵</string>
		<key>symptom</key>
		<string>易发生：气短，心胸憋闷，失眠，健忘</string>
		<key>music</key>
		<string>建议——每天习练整套和畅经络运动1遍，尤以下午1:00-3:00（未时）最佳，并重复[第四式]左右扭转式2-3遍</string>
		<key>sport</key>
		<string>可选择徵调式、宫调式音乐进行调理。每日2-3次，每次以30分钟为宜</string>
	</dict>
	<dict>
		<key>type</key>
		<string>上羽</string>
		<key>symptom</key>
		<string>易发生：腰膝酸软，失眠健忘，夜尿多</string>
		<key>music</key>
		<string>建议——每天习练整套和畅经络运动1遍，尤以下午5:00-7:00（酉时）最佳，并重复[第三式]俯身下探式2-3遍</string>
		<key>sport</key>
		<string>可选择羽调式音乐进行调理。每日2-3次，每次以30分钟为宜</string>
	</dict>
	<dict>
		<key>type</key>
		<string>众羽</string>
		<key>symptom</key>
		<string>易发生：耳鸣，失眠，健忘，夜尿多</string>
		<key>music</key>
		<string>建议——每天习练整套和畅经络运动1遍，尤以下午5:00-7:00（酉时）最佳，并重复[第三式]俯身下探式2-3遍</string>
		<key>sport</key>
		<string>可选择羽调式角调式音乐进行调理。每日2-3次，每次以30分钟为宜</string>
	</dict>
	<dict>
		<key>type</key>
		<string>大羽</string>
		<key>symptom</key>
		<string>易发生：腰膝酸软，失眠健忘，男子遗精早泄，女子月经少或经闭</string>
		<key>music</key>
		<string>建议——每天习练整套和畅经络运动1遍，尤以下午5:00-7:00（酉时）最佳，并重复[第三式]俯身下探式2-3遍</string>
		<key>sport</key>
		<string>可选择羽调式、角调式音乐进行调理。每日2-3次，每次以30分钟为宜</string>
	</dict>
	<dict>
		<key>type</key>
		<string>少羽</string>
		<key>symptom</key>
		<string>易发生：腰膝酸软，头晕耳鸣，失眠健忘</string>
		<key>music</key>
		<string>建议——每天习练整套和畅经络运动1遍，尤以下午5:00-7:00（酉时）最佳。并重复[第三式]俯身下探式2-3遍</string>
		<key>sport</key>
		<string>可选择羽调式、商调式音乐进行调理。每日2-3次，每次以30分钟为宜</string>
	</dict>
	<dict>
		<key>type</key>
		<string>桎羽</string>
		<key>symptom</key>
		<string>易发生：腰酸，失眠健忘，下肢水肿</string>
		<key>music</key>
		<string>建议——每天习练整套和畅经络运动1遍，尤以下午5:00-7:00（酉时）最佳，并重复[第三式]俯身下探式2-3遍</string>
		<key>sport</key>
		<string>可选择羽调式、商调式音乐进行调理。每日2-3次，每次以30分钟为宜</string>
	</dict>
</array>
</plist>
